.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}


@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.container, .jumbotron .container {
    max-width: 768px;
}

.navbar {
    margin-bottom: 0px;
    background-color: darkred;
}

.navbar-brand {
    color: white;
    font-weight: 600;
}

.navbar-brand:hover {
    color: cadetblue;
}

.jumbotron {
    background-color: #e7e7e7;
}

#hospital-box {
    /*border: solid;*/
    width: 20vw;
    height: 50vh;
    padding: 10px;
    margin: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn-details {
    width: 318vw;
    height: 180vh;
}

.med-units {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.card-subtitle {
    text-transform: uppercase;
}

.img-card {
    width: 19vw;
    height: 26vh;
    display: flex;
}

.card-img-top {
    object-fit: contain;
}