.App {
    text-align: center;
    background-color: red;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}
.navbar-header{
    display: contents;
    justify-content: space-between;
}
.App-link {
    color: #61dafb;
}


@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.container, .jumbotron .container {
    max-width: 768px;
}

.navbar {
    margin-bottom: 0px;
    background-color: darkred;
}

.navbar-brand {
    color: white;
    font-weight: 600;
}

.navbar-brand:hover {
    color: #cccfd3;
}

.jumbotron {
    background-color: #e7e7e7;
}

.hospital-box {
    /*border: solid;*/
    width: 20vw;
    height: 48vh;
    padding: 10px;
    margin: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
#doc{
    height: 42vh;
}
#btn-details {
    /*width: 318vw;*/
    /*height: 180vh;*/
    background-color: darkred;
}

#btn-details:hover{
    background-color: dimgrey;
}

.med-units {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;

    background: white;
    /* width: 80%; */
    margin-left: 10%;
    margin-right: 10%;
    min-height: -webkit-fill-available;
}

.card-subtitle {
    text-transform: uppercase;
}

.img-wrapper {
    width: 19vw;
    height: 26vh;
    display: flex;
    position: relative;
}

.img-overlay {
    background: #ffffffaa;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5px;
}
.card-img-top {
    object-fit: contain;
    height: 175px;
}
.carousel-item{
    height: 92vh;
    display: flex;
}
#carousel-wrapper {
    width: 55%;
    margin-left: 23%;
    margin-top: 3%;
}

#home {
    margin-left: 70px;

    margin-right: 70px;

    /*height: 100vh;*/
    /*width: auto;*/
    display: contents;
}

#lang,#lang2{display: contents;}

.doctors{
    background: #d3d3d352;
}

#hospitals{
    background: url("https://images.pexels.com/photos/943630/pexels-photo-943630.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#card-h{
    opacity: 0.8;
    border-radius: 1em;

}
.carousel-caption h3{
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    color: black;
    margin-bottom: 36%;
    /*font-style: oblique;*/
}

@media all and (min-width: 480px) {
    .Login {
        background: url("https://healthengine.com.au/info/static/aed4e2ce0004766e6b90a0c2e856be3e/a7338/blood-cells.jpg");
        padding: 60px 0;
        background-size: cover;
        height: -webkit-fill-available;
    }

    .Login Form {
        background-color: white;
        opacity: .9;
        margin: 0 auto;
        max-width: 320px;
        -webkit-align-items: center;
        align-items: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        /*border: solid;*/
        padding: 3rem;
        border-radius: .8rem;
    }

    .Login Button{
        max-width: 200px;
        background-color: darkred;
    }

}


@media all and (min-width: 480px) {
    .Register {
        background: url("https://healthengine.com.au/info/static/aed4e2ce0004766e6b90a0c2e856be3e/a7338/blood-cells.jpg");
        padding: 60px 0;
        background-size: cover;
        height: -webkit-fill-available;
    }

    .Register Form {
        background-color: white;
        opacity: .9;
        margin: 0 auto;
        max-width: 320px;
        -webkit-align-items: center;
        align-items: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        /*border: solid;*/
        padding: 3rem;
        border-radius: .8rem;
    }

    .Register Button{
        max-width: 200px;
        background-color: darkred;
    }

}


@media all and (min-width: 480px) {
    .Profile {
        background: url("https://healthengine.com.au/info/static/aed4e2ce0004766e6b90a0c2e856be3e/a7338/blood-cells.jpg");
        padding: 60px 0;
        background-size: cover;
        height: -webkit-fill-available;
    }



}

#profile {
    background-color: white;
    opacity: .9;
    margin: 0 auto;
    max-width: 320px;
    -webkit-align-items: center;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: solid;
    padding: 3rem;
    border-radius: .8rem;
}

#files{
    visibility: hidden;
}

#avatar{
    height: 200px;

}